.DS_Store
Thumbs.db
.vscode/
.idea/
.vs/

venv/
env/
.env
.venv/
__pycache__/
*.py[cod]
*$py.class

*.o
*.out
*.exe
*.dll
*.so
*.dylib
build/
bin/
obj/
.pio/
*.hex
*.elf

*.mp4
*.avi
*.mkv
*.jpg
*.jpeg
*.png

*.zip
*.rar
*.tar.gz
*.7z

# VAI HORTOBOTS!